.form {
  display: flex;
  place-items: center;
  height: 75%;
}

.linkMenu {
  color: #fff;
  text-shadow: 1px 1px rgb(8 145 178);
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.2px;
}

@media (max-width: 768px) {
  .form {
    height: fit-content;
  }
}

/*--------header------------*/
.bgHeader {
  background-color: rgba(255, 255, 255, 0.2);
}
.start {
  background-color: rgb(6 182 212);
  color: #fff;
  clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
}
.toggle {
  display: none;
}

/*--------header------------*/
@media screen and (max-width: 768px) {
  .bgHeader {
    background-color: rgb(6 182 212);
  }
  .start {
    clip-path: none;
  }
  .toggle {
    display: block;
    background: none;
    color: #fff;
    font-size: 40px;
    position: absolute;
    right: 0;
    z-index: 50;
  }
  .mobileNav {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background-color: rgb(6 182 212);
  }
}
