@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  font-roboto {
    @apply font-roboto;
  }
  font-titan {
    @apply font-titan;
  }
  font-edu {
    @apply font-edu;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Edu SA Beginner", "Roboto", "sans-serif";
  background: #f8f8f8 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.shadow {
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
  background-color: #fff;
}

.text-shadow-black {
  text-shadow: 2px 2px #000;
}

.text-shadow-white {
  text-shadow: 2px 2px #fff;
}

.containerBox {
  border: solid 1px red;
  height: 100vh;
}

.coverHero {
  background: url("/images/LDK-Flag.jpg");
  background-size: cover;
  background-position-x: left;
  background-position-y: bottom;
  background-repeat: no-repeat;
  width: 100%;
  min-height: fit-content;
  height: 100vh;
}

.coverPendaftaran {
  background-image: url("/images/open_sipmb_3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: fit-content;
}

.coverTestimonial {
  background-image: url("/images/coding-background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: left;
  width: 100%;
  height: fit-content;
}

.coverRegistration {
  background-image: url("/images/coding-background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: left;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
}

.customPlaceholder::placeholder {
  font-size: 12px;
  font-style: italic;
}

.containerBox {
  width: 100%;
  margin: 15% auto;
}

.preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: rgb(49, 49, 177);
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 1;
  transition: 1s opacity;
}
.preloader.loaded {
  opacity: 0;
  visibility: hidden;
}

.animation-wrapper {
  width: fit-content;
  height: fit-content;
}

.swiper {
  width: 100%;
}

.swiper-slide-3d {
  background-position: center;
  background-size: cover;
  width: 360px;
  height: 360px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-slide {
  cursor: grab;
  height: 320px;
  box-sizing: border-box;
}

.slider-gallery img {
  min-height: 275px;
  max-height: 275px;
  min-width: 350px;
  height: 100%;
  width: 100%;
  padding-right: 4px;
  /* border: 2.5px solid white; */
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .coverHero {
    min-height: 85vh !important;
  }
}

@media screen and (max-width: 768px) {
  .coverHero {
    min-height: 100vh !important;
  }
}
