.section__subtitle {
  color: #00bcd4;
  font-weight: 600;
  margin-left: 40px;
  position: relative;
}

.section__subtitle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -40px;
  width: 30px;
  height: 1px;
  background: #00bcd4;
  color: #00bcd4;
}
